.header-container {
  width: 100%;
  height: 94px;
  gap: 0px;
  opacity: 0px;
  background: #fff7e2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bar-container {
  width: Hug (1, 232px) px;
  height: Hug (56px) px;
  top: 23px;
  left: 104px;
  gap: 366px;
  opacity: 0px;
  display: flex;
  justify-content: space-around;
}
.logo-nav {
  width: Hug (669px) px;
  height: Hug (49px) px;
  gap: 80px;
  opacity: 0px;
  display: flex;
}
.logo {
  width: 259px;
  height: 49px;
  gap: 0px;
  opacity: 0px;
}
.nav-items {
  width: Hug (330px) px;
  height: Hug (28px) px;
  gap: 30px;
  opacity: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #474747;
}
.find {
  color: #3a643b;
}
.nav-btns {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.login-btn {
  border: 1px solid #3a643b;
  background: #fff7e2;
  color: #3a643b;
  font-size: 18px;
  border-radius: 11px;
  padding: 10px 25px;
}
.sign-btn {
  background: #3a643b;
  color: #fff;
  font-size: 18px;
  border-radius: 11px;
  padding: 10px 25px;
}
