.appointment-container {
  border: 1px solid #e8e8e8;
  background: #ffffff;
  border-radius: 29px;
  margin-right: 20%;
  margin-top: 20px;
  padding: 20px;
}
.fee-detail {
  border: 1px solid #e2e2e2;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
}
.fee-head {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.fee-amount {
  color: #3a643b;
  font-size: 20px;
  font-weight: 600;
}
.session-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.session-title {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}
.hr {
  width: 40%;
  color: #797979;
  margin-left: 10px;
}
.appo-method {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  gap: 20px;
}
.method {
  border: 1px solid #e5e5e5;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
}
.method-head {
  color: #1f1f1f;
  font-size: 16px;
}
.mins {
  color: #606060;
  font-size: 16px;
}
.tic {
  border: 1px solid #3a643b85;
}
.ticc {
  color: #3a643b;
}
.cal-icon {
  border: 0.5px solid #8a8a8a;
  background: #ffffff;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-icon {
  font-size: 24px;
  font-weight: bold;
}
.select-mount {
  border: 0.5px solid #3a643b;
  background: #f2fbf2;
  border-radius: 10px;
  padding: 20px;
}
.select-date {
  color: #3a643b;
  font-size: 16px;
  font-weight: 600;
}
.slots {
  color: #818181;
  font-size: 16px;
  font-weight: 600;
}
.mount {
  border: 1px solid #e2e2e2;
  background: #f2fbf2;
  border-radius: 10px;
  padding: 20px;
}
.date {
  color: #131313;
  font-size: 16px;
  font-weight: 600;
}
.slots-red {
  color: #d5512e;
  font-size: 16px;
  font-weight: 600;
}
.slots-yellow {
  color: #f1b93a;
  font-size: 16px;
  font-weight: 600;
}
.ap-detail {
  border: 1px solid #e2e2e2;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.time-detail {
  margin-top: 20px;
}
.times {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}
.time {
  color: #131313;
  font-size: 15px;
  font-weight: 400;
}
.time-card {
  border: 1px solid #ebebeb;
  background: #ffffff;
  border-radius: 22px;
  padding: 12px;
  height: 70px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  border: 1px solid #ebebeb;
  background: #3a643b;
}
.select {
  color: #ffffff;
}
.appointment-btn {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.make-appointment-btn {
  background-color: #3a643b;
  height: 60px;

  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
}
